<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
    <listener class-name="Test.Utility.ITestListenerClass"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="Test.cases.LoginTestDrivenData"/> -->
      <!-- <class name="Test.cases.SerachTestCase"/> -->
      <!-- <class name="Test.cases.DashboardTestCase"/> -->
      <class name="Test.cases.PaymentTestCase">
        <methods>
          <include name="testcourses"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
